@charset "utf-8";
/* CSS Document */
/*
 * Name：    	pink.css
 * Function: 	css
 * Author： 	DenGo
 * Update:    	2013-05-31
 * Description: 粉色主题的css
*/
/* ----- reset ------ */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
button, input, select, textarea {font-size: 100%;}
body,button,input,select,textarea{font: 12px/1.5 'Microsoft YaHei',微软雅黑,Arial,"\5b8b\4f53",Tahoma,sans-serif;}
a,a:link,a:visited,a:focus,a:hover,a:active{text-decoration:none;}
fieldset,img{border:0}
ol,ul{list-style:none}
address,caption,cite,code,dfn,em,th,var{font-style:normal; font-weight:normal}
caption,th{text-align:left}
abbr,acronym{border:0}
table {border-collapse:collapse; border-spacing:0;}/* tables still need 'cellspacing="0"' in the markup */
img{ -ms-interpolation-mode:bicubic; }/*for ie7*/
:focus {outline-color: -moz-use-text-color;outline-style: none;outline-width: 0;}
/* ----- reset end ------ */

/* ----- 粉色主题的css ----- */
.header{width: 610px; height: 270px;border:1px solid #fcebea;margin: 80px auto 0;padding-left:30px; }
.logo{width: 240px;height: 35px;margin: 48px 0 0 170px;background: url('../logo.gif') no-repeat 0 0px;}
.smile{width: 35px;height: 35px;background: url('../smile.gif') no-repeat 0 0px;-moz-transition:all 0.3s ease;-webkit-transition:all 0.3s ease;-o-transition:all 0.3s ease;-ms-transition:all 0.3s ease;}
.logo:hover .smile{transform:rotate(80deg);-webkit-transform: rotate(80deg);-o-transform: rotate(80deg);-moz-transition:all 0.3s ease;-webkit-transition:all 0.3s ease;-o-transition:all 0.3s ease;-ms-transition:all 0.3s ease;}

.search{width: 580px;height:32px; margin-top:40px;position: relative;}
.search_input{width: 400px;height: 30px;line-height:30px;padding-left: 8px;font-size: 16px;border: 1px solid #ee7874;box-shadow: inset 2px 2px 2px #ccc;float: left;}
.search_input:focus{box-shadow: 0 0 2px #ed807d,inset 2px 2px 2px #ccc;}
.search_baidu_btn,.search_google_btn{width: 80px;height: 30px;line-height: 30px;text-align:center; background: #ee7874;border: none;border-radius: 2px; float: right;margin-top:1px;margin-left: 5px;_margin-left: 2px;cursor: pointer;color: #fff;font-weight: bold;}
.search_baidu_btn:hover,.search_google_btn:hover{background: #eb6460;}
.search_baidu_btn:active,.search_google_btn:active{box-shadow:inset 0 2px 2px #ce504c;}
.search_refresh{width: 16px;height: 16px;font-size:30px;line-height:16px;color:#ee7874; position: absolute;top: 5px;right: 181px;cursor: pointer;display: none;}

.toolNav{width: 580px;height: 58px;margin-top: 2px;border-bottom: 3px solid #ee7874;position: relative;}
.toolNav_option li{width:50px;height:30px;text-align:center; float: left;cursor: pointer;padding-top: 20px;color: #727272;}
.toolNav_sildeBox{width: 50px;height: 10px;background: url('../slidebox.gif') no-repeat 0 0; position:absolute; top: 51px;left: 0px;overflow:hidden;}
.toolNav_option .active{color: #ee7874;font-weight: bold;font-size: 13px;padding-top: 19px;}

.footer{width: 250px;height: 100px;text-align: center;color: #727272;position: absolute;bottom: 20px;left: 50%;}
.footer_wrap{position: absolute;left: -50%;}
.footer_time{color: #ee7874;}
.footer_copyright{margin-top: 20px;}

a:link,a:visited,a:hover,a:active{color: #ee7874;}
.tongji a:link{color:#727272;}