body {
  font-family: Helvetica, sans-serif;
  background: #333;
}

footer {
  text-align: center;
  margin-top: 8em;
}

footer a {
  color: #aaa;
  font-size: 32px;
}

.container {
  padding-top: 10em;
}
.controls {
  text-align: center;
  padding-bottom: 1em;
  color: white;
}
.controls input {
  width: 50px;
}
table.minesweeper {
  margin: auto;
  border: 1px solid #999;
  border-collapse: collapse;
  background-color: #ddd;
}
table.minesweeper td {
  width: 24px;
  height: 24px;
  background-size: cover;
}
td.unopened {
  background: url('img/unopened.svg');
  cursor: pointer;
}
td.opened {
  background: url('img/opened.svg');
}
td.flagged {
  background: url('img/flag.svg');
  cursor: pointer;
}
td.mine {
  background: url('img/mine.png');
}
td.mine-neighbour-1 {
  background: url('img/1.svg');
}
td.mine-neighbour-2 {
  background: url('img/2.svg');
}
td.mine-neighbour-3 {
  background: url('img/3.svg');
}
td.mine-neighbour-4 {
  background: url('img/4.svg');
}
td.mine-neighbour-5 {
  background: url('img/5.svg');
}
td.mine-neighbour-6 {
  background: url('img/6.svg');
}
td.mine-neighbour-7 {
  background: url('img/7.svg');
}
td.mine-neighbour-8 {
  background: url('img/8.svg');
}
#info {
  text-align: center;
  color: white;
  margin-top: 10px;
  font-size: 2em;
}