body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  padding: 0;
  margin: 0;
}
#section0, #section1, #section2, #section3 {
  background-size: cover;
}
#section0 {
  /*background-image: url(./imgs/bg1.png);*/
  background-color: #97C9FD;
}
#section1 {
  /*background-image: url(./imgs/bg2.png);*/
  background-color: #FDDE42;
}
#section2 {
  /*background-image: url(./imgs/bg3.png);*/
  background-color: #8CEEF3;
}
#section3 {
  /*background-image: url(./imgs/bg4.png);*/
  background-color: #FDC1A6;
}
div.section {
  /*height: 960px;*/
  /*width: 1280px;*/
  /*width: 100%;*/
  margin: 0 auto;
}
/*custom css*/

body {
  font-family: PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
}
a {
  text-decoration: none;
}
h2 {
  font-size: 32px;
}
.content {
  /*background-color: rgba(0,0,0,0.3);*/
  
  color: white;
  text-align: center;
  width: 900px;
  /*border: 1px dashed white;*/
  
  margin: 0 auto;
}
#header {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  width: 100%;
  height: 100px;
}
#logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 100px;
  line-height: 100px;
  font-size: 30px;
  text-align: center;
  /*background-image: url(imgs/logo.png);*/
  /*background-repeat: no-repeat;*/
  /*text-indent: -1000px;*/
  
  background-color: rgba(0, 0, 0, 0.5);
}
#login {
  position: absolute;
  right: 0;
  /*top: 35px;*/
  
  line-height: 100px;
}
#login a {
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
}
.content h2 {
  padding-top: 30px;
  padding-bottom: 60px;
}
#section0 .content {
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
  top: 50px;
  /*height: 100%;*/
  
  min-height: 600px;
}
#section0 .lesson {
  width: 300px;
  min-height: 500px;
  display: inline-block;
  /*background-color: rgba(0,0,0,0.7);*/
  
  margin: -5px;
}
.lesson h3 {
  font-size: 20px;
  margin: 0 20px;
  padding-bottom: 12px;
  border-bottom: 1px solid white;
}
#lesson1, #lesson2 {
  border-right: 1px solid white;
}
.info {
  margin-top: 150px;
  text-align: center;
  color: white;
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.3);
}
.info p {
  padding-top: 10px;
}
#section1 h2 {
  padding-top: 100px;
  color: white;
  text-align: center;
}
#section1 .tile {
  width: 340px;
  height: 170px;
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  display: inline-block;
  padding: 10px;
  margin: 10px;
}
.tile h3 {
  font-size: 20px;
  line-height: 150px;
}
#section2 h2 {
  padding-top: 100px;
}
#section2 .books {
  width: 333px;
  font-size: 20px;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 5px;
  margin: 0 auto;
}
#section2 .comic {
  width: 333px;
  font-size: 20px;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 5px;
  margin: 0 auto;
  margin-top: 20px;
}
#section2 .readmore {
  width: 333px;
  font-size: 20px;
  background-color: #0E99D2;
  border-radius: 5px;
  padding: 5px;
  margin: 0 auto;
  margin-top: 50px;
}
#section3 .footer {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  color: white;
}
.footer p {
  line-height: 100px;
}